.App {
  text-align: center;
}

.App-header {
  background-color: rgb(51, 83, 210);
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.75em;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 25px 25px;
  justify-content: center;
}

.like-button {
  width: 80px;
  height: 25px;
  margin-top: 20px;
  background-color: rgb(60, 86, 234);
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.like-button:hover {
  background-color: rgb(112, 127, 216);
}

.picture,
.description {
  cursor: pointer;
}

.description {
  display: flex;
  width: 375px;
  height: 250px;
  border: solid 1px white;
  justify-content: center;
  align-items: center;
  background-color: rgb(149, 174, 220);
}

.description-text {
  padding-left: 25px;
  padding-right: 25px;
  line-height: 20px;
  font-size: 1.1rem;
}
